<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>4856304929-8d5aihf6v2v9ni8o7f79vmm7dlo24map.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.4856304929-8d5aihf6v2v9ni8o7f79vmm7dlo24map</string>
	<key>API_KEY</key>
	<string>AIzaSyAapvOYlLxZR2OXVr2g4ZrLEIaeWLB7K6o</string>
	<key>GCM_SENDER_ID</key>
	<string>4856304929</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myapp</string>
	<key>PROJECT_ID</key>
	<string>myapp-a2893</string>
	<key>STORAGE_BUCKET</key>
	<string>myapp-a2893.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:4856304929:ios:33bc4f2df820920e67da60</string>
</dict>
</plist>