<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>368682657443-e9ojovgn2ju12k5gue0agovl5qi405ou.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.368682657443-e9ojovgn2ju12k5gue0agovl5qi405ou</string>
	<key>API_KEY</key>
	<string>AIzaSyDUBYdc_aQsVyVhkb71ZrupHWadQ4wRrxI</string>
	<key>GCM_SENDER_ID</key>
	<string>368682657443</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myapp</string>
	<key>PROJECT_ID</key>
	<string>myapp-16629</string>
	<key>STORAGE_BUCKET</key>
	<string>myapp-16629.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:368682657443:ios:391e624559ab9f620a0116</string>
</dict>
</plist>